/** stylechooser **/

#stylechooser { position: fixed; top: 13%; left: -1px; width: 243px; min-height: 0; z-index: 99999; padding: 0; border:1px solid #ccc;}
#stylechooser  #styleToggle { position: absolute; top: -1px; right: -49px; cursor: pointer; font-size: 0; color: transparent; width: 49px; height: 48px; margin: 0; border:1px solid #ccc; border-left:0;}
#stylechooser  #styleToggle i:before { font-size: 24px; color: #737373; top: 12px; left: 13px; position: absolute; }
#stylechooser .easyBox.flat { padding: 0 0 0 20px; width: 290px; }

#stylechooser .easyBox { margin: 0; padding: 0; background: #fff; }

#stylechooser hr { margin: 0; }
#stylechooser label { margin-bottom: 20px; }

#stylechooser .mkSpace {
    padding: 10px 20px;
}
#stylechooser .demoList { margin: 0 0 0 -10px; padding:0; list-style: none; }
#stylechooser .demoList li { margin: 0 0 10px 10px; float: left; position: relative; }

#stylechooser .demoColor { display: block; width: 25px; height: 25px; background: transparent; }
#stylechooser .demoActive:before {
    content: "\f00c";
    position: absolute;
    top: 6px;
    left: 6px;
    font: 12px/1em 'FontAwesome';
    font-style: normal;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, .75);
}

#stylechooser .light { margin: 0; line-height: 46px; }
#stylechooser .btn.btn-small { margin-bottom: 5px; }

@media (max-width: 767px) {
    #stylechooser {
        display: none !important;
    }
}

body.hasCtBar #themeSwitcher  a {
 border-bottom:0 !important;
}
body.hasCtBar #themeSwitcher .dd-option {
 border-bottom: solid 1px #454545;
}

body.hasCtBar #themeSwitcher ul li + li {
 margin-top:0;
}
body.hasCtBar #themeSwitcher a > *:hover {
color: inherit;
}

body.hasCtBar #MainNav:before {
 height: 110px;
}
body.hasCtBar .theme-qtip-custom {
 height: 212px;
}